*{
    margin: 0px;
    padding: 0px;
}
body{
    font-size: 14px;
    line-height: 24px;
    font-family:sans-serif ;
}
h1, h2, h3, h4, h5, h6{
    font-family:  sans-serif;
}
a a:hover{
    text-decoration: none;
}
.container{
    width: 1140px;
    margin: 0px auto;
}
.row{
    width: 100%;
    float: left;
}

.col-lg12{
    width: 100%;
  float: left;
}
.header{
    width: 100%;
    float: left;
}
.hd{
    width: 100%;
    height: 150px;
    background: lightcoral;
}
.slider{
    width: 100%;
    float: left;
}
.sl{
    width: 100%;
    height: 400px;
    background: lightgreen;
}
.banner{
    width: 100%;
    float: left;
  
   
}
.col-lg-4{
    width: 25%;
    float: left;
}
.cl1{
    height:300px;
    background: red;
}
.cl2{
    height:300px;
    background: green;
}
.cl3{
    height:300px;
    background: lightcoral;
}
.cl4{
    height:300px;
    background:lawngreen;
}
.footer{
    width: 100%;


}
.ft{
    height: 200px;
    background:blue;
}